{% extends "./base.html" %}

{% block body %}

<div id="main" class="container clear-top">

	<div class="row" id="header">
		<div class="container">
			<div class="row">
				<div class="col-md-6 .col-xs-6 left">
				{% block logo %}<img src="/imgs/CuadritoText.png"/>{% endblock %}
				</div>
				<div class="col-md-6 .col-xs-6 right">
					<a href="/logout">Cerrar sesión</a>
				</div>
			</div>
		</div>
	</div>

	<div class="container" id="main-content">
		{% block content %}{% endblock %}
	</div>

</div>
{% endblock %}
