<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>{% block title %}Cuadrito{% endblock %}</title>
  <link rel="shortcut icon" href="/img/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Css -->
	<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="/css/style.css" rel="stylesheet">
	<link href="/css/custom.css" rel="stylesheet">
  <link href="/css/thumb-grid.css" rel="stylesheet">
	{% block head %}{% endblock %}

  <!-- start Mixpanel --><script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
mixpanel.init("{{ mixpanel }}");</script><!-- end Mixpanel -->

</head>

<body>

  <header style="background-color:rgba(0, 0, 0, 0.5);">
    <div class="content">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <div class="navbar">
            <div class="navbar-inner">
              <div class="container">
                <a class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
                  <span class="icon-bar">
										<img src="/img/logo.png" style="height:80px;width:auto;" alt="" />
									</span>
                </a>
                <div class="nav-collapse collapse">
                  <ul class="nav">
                    <li class="active">
											<a href="#services">servicio</a>
                    </li>
                    <li>
											<a href="#quote">misión</a>
                    </li>
                    <li class="logo">
                      <a href="#">
                        <img src="img/logo.png" alt="" />
                      </a>
                    </li>
                    <li>
											<a href="#contact">contacto</a>
                    </li>
                    <li>
											<a href="/login">login</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 main-text">
          <h2>Imprime tus fotos de Instagram</h2>
          <br>
          <a href="/login" class="button">Comienza ahora</a>
        </div>
      </div>

    </div>
  </header>

	<section id="services">
		<div class="container">

			<h2>Nuestra Magia!</h2>

			<div class="row">
				<div class="col-lg-4">
					<div class="icon-container">
						<img src="img/service-01.png" alt="" />
					</div>
					<h3>Inicia tu sesión</h3>
					<p>Manda a imprimir tus fotos de Instagram en un poster nunca fue tan fácil!</p>
				</div>
				<div class="col-lg-4">
					<div class="icon-container">
						<img src="img/service-02.png" alt="" />
					</div>
					<h3>Selecciona tus imagenes favoritas</h3>
					<p>Imprime un poster de calidad fotográfica con las fotos que mas te gusten tomadas por ti o tus amigos.</p>
				</div>
				<div class="col-lg-4">
					<div class="icon-container">
						<img src="img/service-03.png" alt="" />
					</div>
					<h3>Recibe tu Cuadrito hoy mismo!</h3>
					<p>Es para ti o un regalo? Tu decides a donde mandarlo y recibelo en menos de 99Minutos</p>
				</div>
			</div>

		</div>
	</section>

  <section id="quote">
    <div class="container">

      <h2 style="font-weight:100;">&quot;Las fotografías más bellas son aquellas que te generan recuerdos. Incluso si aun no lo has vivido.&quot;</h2>

      <h3>- Hersson Piratoba -</h3>

    </div>
  </section>

<!--

  <section id="portfolio">
    <div class="container">

      <h2>Some of our works</h2>

      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <p>We are currently working on a lot of exciting projects. In the meantime, check out some of our other projects..</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <ul id="og-grid" class="og-grid">
            <li>
              <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="img/work-01.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                <img src="img/thumbs/work-01.jpg" alt="img01" />
              </a>
            </li>
            <li>
              <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="img/work-02.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                <img src="img/thumbs/work-02.jpg" alt="img02" />
              </a>
            </li>
            <li>
              <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="img/work-03.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                <img src="img/thumbs/work-03.jpg" alt="img03" />
              </a>
            </li>
            <li>
              <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="img/work-01.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                <img src="img/thumbs/work-01.jpg" alt="img01" />
              </a>
            </li>
            <li>
              <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="img/work-02.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                <img src="img/thumbs/work-02.jpg" alt="img02" />
              </a>
            </li>
            <li>
              <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="img/work-03.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                <img src="img/thumbs/work-03.jpg" alt="img03" />
              </a>
            </li>
            <li>
              <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="img/work-01.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                <img src="img/thumbs/work-01.jpg" alt="img01" />
              </a>
            </li>
            <li>
              <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="img/work-02.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                <img src="img/thumbs/work-02.jpg" alt="img02" />
              </a>
            </li>
            <li>
              <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="img/work-03.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                <img src="img/thumbs/work-03.jpg" alt="img03" />
              </a>
            </li>
            <li>
              <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="img/work-01.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                <img src="img/thumbs/work-01.jpg" alt="img01" />
              </a>
            </li>
            <li>
              <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="img/work-02.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                <img src="img/thumbs/work-02.jpg" alt="img02" />
              </a>
            </li>
            <li>
              <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="img/work-03.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                <img src="img/thumbs/work-03.jpg" alt="img03" />
              </a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </section>

  <section id="v-card">
    <div class="container">

      <h2 style="font-weight:100;">Download our V-Card</h2>

      <a href="http://vcardmaker.com/" class="button">Get V-Card</a>

    </div>
  </section>

-->

  <section id="contact">
    <div class="container">

      <h2>Forma de contacto.</h2>

      <form class="navbar-form" style="width:90%;max-width:600px;margin:0 auto;" action="/contactForm" id="contactform" method="post" name="contactform">
        <div id='contactform_name_errorloc' style="color:#cc364f; margin: 0px 0px 5px 0px;border-radius:5px;font-size:9pt;"></div>
        <input id="yourName" name="name" type="text" class="form-control" style="width: 100%;margin-bottom:20px;" placeholder="Nombre*">
        <div id='contactform_email_errorloc' style="color:#cc364f; margin: 0px 0px 5px 0px;border-radius:5px;font-size:9pt;"></div>
        <input id="yourEmail" name="email" type="text" class="form-control" style="width: 100%;margin-bottom:20px;" placeholder="Correo*">
        <div id='contactform_message_errorloc' style="color:#cc364f; margin: 0px 0px 5px 0px;border-radius:5px;font-size:9pt;"></div>
        <textarea name="message" id="yourMessage" class="form-control" placeholder="Mensaje*"></textarea>
        <button type="submit" value="Submit" style="width:320px;">Enviar mensaje</button>
      </form>

    </div>
  </section>

  <footer>
    <div class="container">
      <h4>&copy; 2015 Brozilinator ProDuctions <a href="http://twitter.com/dfect">@DFect</a> y <a href="http://twitter.com/rlomeli88">@rlomeli88</a></h4>
    </div>
  </footer>

  <!-- JavaScript plugins (requires jQuery) -->
  <script src="http://code.jquery.com/jquery.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
  <!-- Enable responsive features in IE8 with Respond.js (https://github.com/scottjehl/Respond) -->
  <script src="js/respond.js"></script>
  <script src="js/modernizr.custom.js"></script>
  <script src="js/grid.js"></script>
  <script src="js/gen_validatorv31.js"></script>




</body>

</html>
