html, body {
  height: 100%;
}

body{
  background-color: white;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
}

.container {
  width: auto;
  padding: 0 0px;
}

/* footer structure */
#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:120px; /* this needs to be bigger than footer height*/
}

.footer {
  position: relative;
  margin-top: -120px; /* negative value of footer height */
  height: 120px;
  clear:both;
  padding-top: 20px;
  background-color: #e9eef4;

  background-image: url('../imgs/CuadritoFooter.png');
  background-repeat: no-repeat;
  background-position: center 20%;
}

.footer ul {
  float: none;
  display: table;
  margin: auto;
  list-style: none;
  padding: 9px 0;

}

.footer ul > li {
  float: left;
  display: block;
  position: relative;
  box-sizing: border-box;
}

.footer ul > li > a {
  padding: 30px 120px;
  color: #666666;
}



/* Landing page only */

.cover{
  background-color: #403f41;
  height: 80%;
  padding: 30px 15px 0 15px;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.cover h1{
  font-size: 50px;
  padding-left: 20px;
}

.cover p{
  padding-left: 20px;
}

.cover .support{
  text-align: right;
  padding-right: 25px;
}

.cover .rightColumn{
  padding-right: 35px;
}

.cover .lead{
  font-size: 33px;
}

.cover #previewPhotos{
  padding: 20px;
}

.cover .price{
  text-align: center;
  padding: 0px 0 20px 0%;
}

.cover .price a{
  background-color: #ed4056;
  color: white;
  font-weight: 300;
  border-color: #ed4056;
  font-size: 30px;
}

/* End Landing page only */

/* Header */

#header{
  background-color: #403f41;
  background-image: url('/imgs/CuadritoHeader.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 80px;
  margin: 0;
}

#header .container{
  width: 1170px;
  padding: 25px;
}

#header .left{
  text-align: left;
}

#header .left img{
  max-height: 30px;
}

#header .right{
  text-align: right;
}

#header .right a{
  color: white;
  font-weight: 400;
  font-size: 18px;
}

/* end Header */

/* Main Content */

#main-content{
    background: white;
    width: 1170px;
    color: black;
    padding: 40px;
}
/* End Content */
