{% extends '../layouts/app.html' %}

{% block title %}Productos{% endblock %}


{% block javascript %}
  <script type="text/javascript">
    var next_max_id;
    var category;
    var photos = [];
    var goal = {{quantity}}
    var product = "{{product}}"
    var next_url = "";

    function renderPhoto(id, url){

      return '\
        <div class="col-md-3 col-sm-12 col-xs-12 brandphoto" id=' + id + '>\
          <a href="javascript:void(0);">\
            <img src="' + url + '" class="img-rounded instaphoto img-responsive">\
          </a>\
        </div>';
    }

    function clearPhotos(){
      $("#photoGrid").html("");
    }

    function weAreDone(){
      $("#photoGrid").html("");
      $("#loadMoreButton").hide();

      $.post("/app/order/create", {photos: JSON.stringify(photos), quantity: goal, product:product}, function(data, status){
        window.location.href = data.redirect_url;
      });
    }

    function preLoadOnServer(media){
      $.post("/app/predownload/image", {photo: JSON.stringify(media)}, function(data, status){
        console.log(data);
      });
    }

    function insertPhoto(media){
      var permanentMedia = media;
      var url = media.images.low_resolution.url;
      var id = media.id;
      $("#photoGrid").append( renderPhoto(id,url) );
      $("#"+id).click(function(){
        // We clicked one, let's preload it on the server
        photos.push(permanentMedia);
        preLoadOnServer(permanentMedia);
        $("#"+id).addClass("faded");
        $("#"+id).click(function(){});
        ///// update selection
        $("#currentQuantity").html("" + photos.length)
        ///// are we done yet?
        if(photos.length == goal){
          weAreDone();
        }

      })
    }

    function handleImages(data, status){
      clearPhotos();
      console.log(data)
      next_max_id = typeof data.pagination.next_max_id != 'undefined' ? data.pagination.next_max_id : 0;
      next_max_id = typeof data.pagination.next_max_like_id != 'undefined' ? data.pagination.next_max_like_id : next_max_id;
      for(var i = 0; i < data.medias.length; i++){
        var media = data.medias[i];
        insertPhoto(media);
      }
    }

    function getMore(){
      $.get("/app/photos/category?cat="+category+"&max_id="+next_max_id, handleImages);
    }

    function getCategory(cat){
      $(".btn-group button").removeClass("btn-primary")
      category = cat;
      $.get("/app/photos/category?cat="+cat, handleImages);
    }

    jQuery(function($) {
      $("#likedButton").click(function() {
        getCategory("liked")
        $("#likedButton").addClass("btn-primary");
      });
      $("#uploadedButton").click(function() {
        getCategory("uploaded")
        $("#uploadedButton").addClass("btn-primary");
      });
      $("#streamButton").click(function() {
        getCategory("stream")
        $("#streamButton").addClass("btn-primary");
      });
      $("#loadMoreButton").click(function() {
        getMore()
      });

      // prepick he liked row to start:
      $("#likedButton").click();

    });

  </script>
{% endblock %}
{% block content %}



<div class="row pick-header">
  <div class="col-md-6 left">
    <div class="btn-group" role="group">
      <button class="btn btn-default btn-primary btn-lg pickNavigationButton" id="likedButton"><span class="fa fa-heart " aria-hidden="true"> Liked</button>
      <button class="btn btn-default btn-lg pickNavigationButton" id="uploadedButton"><span class="fa fa-upload " aria-hidden="true"> Tuyas</button>
      <button class="btn btn-default btn-lg pickNavigationButton" id="streamButton"><span class="fa fa-cloud " aria-hidden="true"> Tu feed</button>
    </div>
  </div>
  <div class="col-md-6 right">
    <h2><span id="currentQuantity">0</span> de {{quantity}} fotos</h2>
  </div>
</div>


<div class="row" id="photoGrid">
</div>

<div class="row">
  <div class="col-lg-12 moreContainer">
    <button class="btn btn-success btn-default btn-lg pickNavigationButton" id="loadMoreButton"><span class="fa fa-plus " aria-hidden="true"> Cargar mas imagenes</button>
  </div>
</div>


<!-- Google Code for Cuadrito registro Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1057719245;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "sIaqCLWYgloQzYeu-AM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/1057719245/?label=sIaqCLWYgloQzYeu-AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

<!-- Facebook Conversion Code for Registro Cuadrito -->
<script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
  }
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', '6019877788373', {'value':'0.00','currency':'USD'}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6019877788373&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1" /></noscript>

{% endblock %}
