{% extends '../layouts/app.html' %}

{% block title %}Compra exitosa{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div class="banner">
  <h1 style="color:black;">Compra exitosa</h1>
  <p class="lead">Gracias</p>

</div>

<!-- Google Code for Cuadrito Compra Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1057719245;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "HpUMCMSYgloQzYeu-AM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/1057719245/?label=HpUMCMSYgloQzYeu-AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

<!-- Facebook Conversion Code for Compra Cuadrito -->
<script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
  }
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', '6019877824373', {'value':'0.00','currency':'USD'}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6019877824373&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1" /></noscript>

{% endblock %}
