{% extends '../../layouts/app.html' %}

{% block title %}Admin Users{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div class="banner">
  <h1>Admin Users</h1>
</div>

<table class="table table-striped table-bordered table-hover" id="sample_1">
  <thead>
    <tr>
      <th>
        Username
      </th>
      <th>
        Email
      </th>
      <th>
        Last Seen
      </th>
      <th>
        Role
      </th>
    </tr>
  </thead>
  <tbody>
    {% for u in users %}
    <tr class="odd gradeX">
      <td>
        <a href="/admin/users/{{u.id}}">{{u.username}}</a>
      </td>
      <td>
        {{u.email}}
      </td>
      <td>
        {{u.lastSeen|time_since}}
      </td>
      <td class="center">
        {{u.role}}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
